/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.navbar-nav {
		float: right;
		margin: 0;
	}
	
	.launch-logo{
		background-image: url('../img/launchbox_logo.jpg');
		-webkit-font-smoothing: antialiased;
		width: 150px;
		height: 150px;
	}
	.launch-logo-small{
		background-image: url('../img/launchbox_logo.jpg');
		-webkit-font-smoothing: antialiased;
		width: 150px;
		height: 150px;
	}
	.blog-bg {
		/* border-bottom: 2px solid #fff; */
		margin-bottom: 5px;
	}
	
	/* Credit to bootsnipp.com for the css for the color graph */
	.colorgraph {
	  margin-top: 45px;
	  height: 5px;
	  border-top: 0;
	  background: #c4e17f;
	  border-radius: 5px;
	  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	}
	
	.logo-launcbox{
		background: url(../img/launchbox_logo_icon.png) no-repeat;
		width:56px;
		height:40px;
		position: relative;
		bottom: 10px;
	}
	
	.social{
		padding-left:10px;
		padding-top:10px;
	}

} /*End Media Queries*/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.navbar-nav {
		float: right;
		margin: 0;
	}
	.launch-logo{
		background-image: url('../img/launchbox_logo.jpg');
		-webkit-font-smoothing: antialiased;
		width: 150px;
		height: 150px;
	}
	.launch-logo-small{
		background-image: url('../img/launchbox_logo.jpg');
		-webkit-font-smoothing: antialiased;
		width: 150px;
		height: 150px;
	}
	.blog-bg {
		/* border-bottom: 2px solid #fff; */
		margin-bottom: 5px;
	}
	
	/* Credit to bootsnipp.com for the css for the color graph */
	.colorgraph {
	  margin-top: 45px;
	  height: 5px;
	  border-top: 0;
	  background: #c4e17f;
	  border-radius: 5px;
	  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	}
	
	.logo-launcbox{
		background: url(../img/launchbox_logo_icon.png) no-repeat 0 0;
		width:56px;
		height:40px;
		position: relative;
		bottom: 10px;
	}
	
	.social{
		padding-left:10px;
		padding-top:10px;
	}
	

} /*End Media Queries*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.navbar-nav {
		float: right;
		margin: 0;
	}
	.launch-logo{
		background-image: url('../img/launchbox_logo.jpg');
		-webkit-font-smoothing: antialiased;
		width: 36px;
		height: 36px;
	}
	.launch-logo-small{
		background-image: url('../img/launchbox_logo.jpg');
		-webkit-font-smoothing: antialiased;
		width: 36px;
		height: 36px;
	}
	.blog-bg {
		/* border-bottom: 2px solid #fff; */
		margin-bottom: 5px;
	}
	
	.glyphicon {
		margin-right:5px;
	}
	
	.rating .glyphicon {
		font-size: 22px;
	}
	
	.rating-num {
		margin-top:0px;
		font-size: 54px;
	}
	
	.progress {
		margin-bottom: 5px;
	}
	
	.progress-bar {
		text-align: left;
	}
	
	.rating-desc .col-md-3 {
		padding-right: 0px;
	}
	.sr-only {
		margin-left: 5px;
		overflow: visible;
		clip: auto;
	}
	
	/* Credit to bootsnipp.com for the css for the color graph */
	.colorgraph {
	  margin-top: 45px;
	  height: 5px;
	  border-top: 0;
	  background: #c4e17f;
	  border-radius: 5px;
	  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	}
	
	span .logo-launcbox{
		background: url(../img/launchbox_logo_icon.png) no-repeat center top;
		width:56px;
		height:40px;
		position: relative;
		bottom: 10px;
	}
	
	.logo{
		position: relative;
		bottom: 10px;
		background: transparent;
	}
	.social{
		padding-left:10px;
		padding-top:10px;
	}
	
	
} /*End Media Queries*/